@media(max-width:800px) {
  #course-version-mobile {
    display: block;
  }
  #course-version-web {
    display: none;
  }
}
@media(max-width:450px) {
  #course-version-mobile {
    display: block;
  }
  #course-version-web {
    display: none;
  }
}
@media(max-width:320px) {
  #course-version-mobile {
    display: block;
  }
  #course-version-web {
    display: none;
  }
}
@media(min-width:801px) {
  #course-version-mobile {
    display: none;
  }
  #course-version-web {
    display: block;
    /* margin-left: 15%; */
  }
}