.kz-section {
  padding: 48px 0;

  &-head {
    text-align: center;
    margin: 0 auto 40px auto;
  }

  &-list {
    padding-left: 18px;
    list-style-type: disc;

    li:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &-text {
    font-size: 18px;
    line-height: 1.8;
  }

  &-subtitle {
    font-size: 21px;
    margin-top: 8px;
  }

  &-title,
  &-head-title {
    margin-bottom: 32px;
  }

  &-title,
  &-featured-title,
  &-head-title {
    display: block;
    font-weight: 500;
    line-height: 1.2;
  }

  &-title,
  &-featured-title {
    font-size: 38px;
    color: #30334a;

    @media screen and (max-width: 767px) {
      font-size: 28px;
    }
  }

  &-featured-title {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    &:before {
      content: "";
      display: block;
      width: 125px;
      height: 4px;
      background-color: #1c3869;
      margin: 0 auto 18px auto;
    }
  }

  &-head-title {
    font-size: 42px;
    color: #1c3869;

    @media screen and (max-width: 767px) {
      font-size: 28px !important;
    }
  }

  &.with-blue-bg {
    background-color: #1c3869;

    .kz-section-subtitle {
      color: white;
    }

    .kz-section-featured-title {
      color: white;

      &:before {
        background-color: white;
      }
    }
  }
}
