.page {
  padding: 42px 0;

  &-head h3,
  &-section h3 {
    font-size: 42px;
    font-weight: 500;
    color: #1c3869;
    margin-bottom: 24px;
  }

  &-section p,
  &-head p {
    color: #30334a;
    font-size: 18px;
  }

  &-head {
    text-align: center;
    margin-bottom: 64px;

    p {
      max-width: 865px;
      margin: 0 auto;
    }
  }

  &-section {
    ul {
      list-style-type: disc;
    }
    li {
      margin-bottom: 24px;
    }
  }
}

.kz-section {
  padding: 48px 0;

  @media screen and (max-width: 767px) {
    padding: 24px 0;
  }

  &-title,
  &-featured-title {
    display: block;
    font-size: 38px;
    color: #30334a;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 32px;

    @media screen and (max-width: 767px) {
      font-size: 28px;
    }
  }

  &-featured-title {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    &:before {
      content: "";
      display: block;
      width: 125px;
      height: 4px;
      background-color: #1c3869;
      margin: 0 auto 18px auto;
    }
  }
}
