.kz-home-page {
  position: relative;

  .kz-hero {
    padding: 40px 0;

    &-title {
      display: block;
      font-size: 32px;
      margin-bottom: 32px;
      line-height: 1.2;
      font-weight: 500;
      color: #1c3869;

      @media (min-width: 768px) {
        font-size: 48px;
        margin-bottom: 42px;
      }
    }

    &-content {
      margin-bottom: 32px;

      p {
        margin-bottom: 12px;
      }
    }
  }
}
