.with-symbol-bg {
  background-image: url("../../images/brand/symbol-bg.svg");
  background-size: 200px;
  background-position: top right;
  background-repeat: no-repeat;

  @media screen and (min-width: 769px) {
    background-size: 350px;
    background-position: center left;
  }
}

.kz-school-page {
  .kz-section {
    background: linear-gradient(
      180deg,
      rgba(0, 48, 107, 1) 30%,
      rgba(255, 255, 255, 1) 30%
    );

    @media screen and (min-width: 769px) {
      background: linear-gradient(
        90deg,
        rgba(0, 48, 107, 1) 50%,
        rgba(255, 255, 255, 1) 50%
      );
    }

    .container {
      padding: 0 1.25rem;
    }
  }

  .kz-school-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 48px;

    @media screen and (min-width: 769px) {
      display: block;
      position: absolute;
      left: 64px;
      bottom: 0;
    }

    .kz-button {
      display: block;
      width: 100%;
      margin-bottom: 18px;

      @media screen and (min-width: 420px) {
        display: inline-block;
        max-width: 115px;
      }

      @media screen and (min-width: 769px) {
        display: block;
      }

      &:not(:last-child) {
        margin-bottom: 18px;
      }
    }
  }

  .kz-center {
    position: relative;

    svg {
      position: absolute;
      width: 100px;
      right: -8px;
      bottom: -24px;
      z-index: 5;

      @media screen and (min-width: 769px) {
        width: auto;
        left: -24px;
      }
    }
  }

  .kz-right-side,
  .kz-left-side {
    ul li {
      &:not(:last-child) {
        margin-bottom: 28px;
      }
    }
  }

  .kz-right-side {
    text-align: left;

    @media screen and (min-width: 769px) {
      text-align: right;
    }

    ul {
      display: block;

      li {
        h4 {
          font-size: 18px;
          color: #5ba3f6;
          margin-bottom: 8px;
          font-weight: bold;
        }

        &:not(:last-child) {
          margin-bottom: 28px;
        }
      }
    }

    h3 {
      font-size: 24px;
      font-weight: bold;
      margin: 24px 0;

      @media screen and (min-width: 769px) {
        font-size: 30px;
        margin: 0 0 48px 0;
      }
    }
  }

  .kz-left-side {
    color: white;
    text-align: left;

    ul {
      display: flex;
      justify-content: space-between;

      @media screen and (min-width: 769px) {
        display: block;
      }

      li {
        h4 {
          font-size: 18px;
          font-weight: 500;
          line-height: 1;
        }

        p {
          font-size: 12px;
        }

        &:not(:last-child) {
          margin-bottom: 28px;
        }

        @media screen and (min-width: 769px) {
          h4 {
            font-size: 24px;
          }

          p {
            font-size: 16px;
          }
        }
      }
    }

    h3 {
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 48px;
    }
  }
}
