.kz-two-thousand-hours {
  .kz-title {
    margin-bottom: 72px;
  }

  @media screen and (min-width: 768px) {
    .column {
      .kz-card {
        max-width: 320px;
      }

      &:last-child {
        .kz-card {
          margin-left: auto;
        }
      }
    }
  }
}
