.kz-box {
  height: 100%;
  position: relative;
  background-color: #f8f8f8;
  border-radius: 40px;
  padding: 48px 55px;
  box-shadow: 10px 20px 20px 0 rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;

  &:hover {
    background-color: #234d78;

    .kz-box-title {
      color: white;
    }
  }

  &-content {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: -48px -55px;

    .kz-button {
      max-width: 225px;
      position: absolute;
      bottom: 55px;
    }
  }

  &-title {
    color: #00306b;
    font-size: 28px;
    margin-bottom: 78px;
    font-weight: bold;
  }

  &-image {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
  }
}
