.kz-button {
  display: inline-block;
  min-width: 184px;
  font-size: 16px;
  padding: 12px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  background-color: #1c3869;
  color: white;

  &:hover {
    color: white;
  }
}
