.kz-button {
  display: inline-block;
  min-width: 184px;
  font-size: 16px;
  padding: 18px 24px;
  text-align: center;
  font-weight: 600;
  border-radius: 25px;
  cursor: pointer;
  background-image: linear-gradient(105deg, #5ba3f5, #3c86e1 100%);
  color: white;
  border: 0;

  &:hover {
    color: white;
  }

  &.with-shadow {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25);
  }

  &.is-primary {
    background: white;
    color: #00306b;

    &.is-outlined {
      background: transparent;
      padding-top: 16px;
      padding-bottom: 16px;
      border: solid 4px #ffffff;
      color: white;
    }
  }
}
