.kz-card {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  padding: 32px 16px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.11);
  background-color: white;

  &-icon {
    margin-bottom: 18px;
  }

  &-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 12px;
    color: #1c3869;
  }

  &-text {
    color: #30334a;
    margin-bottom: 18px;
  }

  @media screen and (min-width: 769px) {
    &.is-align-right {
      margin-right: 0;
      margin-left: auto;
    }

    &.is-align-left {
      margin-left: 0;
      margin-right: auto;
    }
  }
}
