.kz-header {
  margin: 0 auto;
  padding: 12px 20px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-toggle {
    border: 0;
    background: none;
    margin-top: 6px;

    span {
      display: block;
      width: 24px;
      height: 4px;
      background-color: #1c3869;

      &:not(:last-child) {
        margin-bottom: 6px;
      }
    }
  }

  &-brand {
    display: flex;

    img {
      width: 53px;

      @media screen and (max-width: 768px) {
        width: 37px;
      }
    }
  }

  &-nav {
    display: inline-block;

    li {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 75px;
      }

      &:last-child {
        margin-right: 42px;
      }
    }

    @media screen and (max-width: 1023px) {
      position: fixed;
      overflow-x: auto;
      height: 100vh;
      pointer-events: none;
      opacity: 0;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      z-index: 5;
      background-color: #1c3869;
      padding: 42px 32px;
      transition: opacity 80ms ease-in-out 0s;

      li {
        display: block;

        &:not(:last-child) {
          margin-bottom: 48px;
          margin-right: 0;
        }
      }

      &.is-open {
        opacity: 1;
        pointer-events: unset;
      }
    }
  }

  @media screen and (max-width: 375px) {
    .kz-button {
      min-width: auto;
      font-size: 14px;
    }
  }
}
