.kz-hero {
  padding: 80px 0;

  &-title {
    display: block;
    font-size: 32px;
    margin-bottom: 32px;
    font-weight: 500;
    color: #1c3869;
  }

  &-content {
    margin-bottom: 24px;

    p {
      max-width: 480px;
      margin-bottom: 12px;
    }
  }
}
