$column-gap: 1.25rem;
$body-color: #30334a;
$family-sans-serif: "Montserrat", sans-serif;

// Disable the widescreen breakpoint
$widescreen-enabled: true;

// Disable the fullhd breakpoint
$fullhd-enabled: false;

/* Bulma */
@import "~bulma/sass/utilities/initial-variables.sass";
@import "~bulma/sass/utilities/functions.sass";
@import "~bulma/sass/utilities/derived-variables.sass";
@import "~bulma/sass/utilities/animations.sass";
@import "~bulma/sass/utilities/mixins.sass";
@import "~bulma/sass/utilities/controls.sass";
@import "~bulma/sass/base/minireset.sass";
@import "~bulma/sass/base/generic.sass";
@import "~bulma/sass/base/helpers.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/grid/columns.sass";

/* Font family */
@import "~typeface-montserrat/index.css";

@import "title.scss";
@import "button.scss";

/* Pages */
@import "pages/general.scss";

/* Helpers */
@import "helpers/general.scss";
@import "helpers/reverse-columns.scss";

.columns {
  width: 100%;
  height: 100%;
  margin-left: 0;
}

.container.is-fullhd {
  max-width: 1344px;
}

body {
  padding-top: 80px;
}
