$column-gap: 1.25rem;
$body-color: #30334a;
$family-sans-serif: "Montserrat", sans-serif;

// Disable the widescreen breakpoint
$widescreen-enabled: true;

// Disable the fullhd breakpoint
$fullhd-enabled: false;

/* Bulma */
@import "~bulma/sass/utilities/initial-variables.sass";
@import "~bulma/sass/utilities/functions.sass";
@import "~bulma/sass/utilities/derived-variables.sass";
@import "~bulma/sass/utilities/animations.sass";
@import "~bulma/sass/utilities/mixins.sass";
@import "~bulma/sass/utilities/controls.sass";
@import "~bulma/sass/base/minireset.sass";
@import "~bulma/sass/base/generic.sass";
@import "~bulma/sass/base/helpers.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/grid/columns.sass";

/* Font family */
@import "~typeface-montserrat/index.css";

@import "title.scss";
@import "button.scss";

@import "pages/general.scss";

/* To working with top bar */
body {
  margin-top: 100px;

  @media screen and (min-width: 769px) {
    margin-top: 55px;
  }
}

.columns {
  width: 100%;
  height: 100%;
  margin-left: 0;
}

.container.is-fullhd {
  max-width: 1344px;
}

.is-justified-between {
  justify-content: space-between;
}

@media (max-width: 768px) {
  .reverse-columns {
    display: grid;

    .column:nth-child(1) {
      order: 2;
    }

    .column:nth-child(2) {
      order: 1;
    }
  }
}

.is-bold {
  font-weight: bold;
}
