.kz-lead-form {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  pointer-events: unset;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  justify-content: flex-end;
  align-items: flex-start;
  z-index: 25;

  &-close {
    position: absolute;
    right: 16px;
    top: 8px;
    cursor: pointer;

    svg {
      width: 24px;
    }
  }

  &-overlay {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 500px;
    background-color: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 42px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }

  &.is-open {
    display: flex;
  }
}
