.kz-nav-link {
  font-size: 18px;
  font-weight: 700;
  color: white;

  &:hover {
    color: white;
  }

  @media screen and (min-width: 769px) {
    font-size: 14px;
    color: #959595;
    text-transform: uppercase;
    font-weight: 500;

    &:hover {
      color: #959595;
    }

    &.active {
      border-bottom: 3px #b7eaf3 solid;
    }
  }
}
