.kz-scenario-card {
  width: 100%;
  max-width: 240px;
  height: 320px;
  padding: 42px 16px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-top: 4px #00b68c solid;

  text-align: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.11);
  background-color: white;

  &-title {
    font-size: 18px;
    font-weight: 700;
    color: #1c3869;
  }

  &-main {
    font-size: 14px;
    line-height: 2;
    color: #30334a;

    .salary {
      display: block;
      font-size: 18px;
      font-weight: 700;
      color: #1c3869;
    }
  }

  .no-payment,
  &-payment,
  &-total {
    font-size: 16px;
  }

  .no-payment {
    color: #1c3869;
  }
}
