@import "~slick-carousel/slick/slick.css";

.kz-slider {
  width: 100%;

  .slick-list {
    padding-left: 0 !important;

    .slick-track {
      display: flex;
      align-items: center;
    }
  }

  .slick-dots {
    display: flex !important;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-align: center;
    padding: 24px 0 24px 0;
    margin: 0;

    li {
      display: inline-block;
      width: 8px;
      height: 8px;

      &:not(:last-child) {
        margin-right: 8px;
      }

      button {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #8a8a8a;
        cursor: pointer;
        //Reset button style
        color: transparent;
        appereance: none;
        padding: 0;
        border: none;
        outline: 0;
        padding: 0;

        &:hover {
          background: #1c3869;
        }
      }

      &.slick-active {
        width: 12px;
        height: 12px;

        button {
          width: 12px;
          height: 12px;
          background: #1c3869;

          &:focus {
            outline: 0;
          }
        }
      }
    }
  }
}
