.kz-thumbnail {
  width: 100%;
  position: relative;
  // background: center right / contain no-repeat
  //   url("../images/thumbnail/rectangle.png");

  &-image {
    width: 100%;
    padding-top: 54px;
    padding-left: 72px;
    position: relative;

    @media (max-width: 1024px) {
      padding-top: 26px;
      padding-left: 36px;
    }
  }

  &-frame {
    width: 112px;
    height: 112px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    @media (min-width: 768px) {
      width: 215px;
      height: 215px;
    }
  }

  &.reverse {
    // background: center left / contain no-repeat
    //   url("../images/thumbnail/rectangle-reverse.png");

    .kz-thumbnail-frame {
      right: -72px;
      left: auto;
    }
  }

  &.remove-bg {
    background: none;
  }
}
