.kz-thumbnail {
  width: 100%;
  position: relative;

  &-image {
    z-index: 1;
    width: 100%;
    padding-top: 54px;
    padding-left: 72px;
    position: relative;

    @media (max-width: 1024px) {
      padding-top: 26px;
      padding-left: 36px;
    }
  }

  &-frame {
    width: 112px;
    height: 112px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    @media (min-width: 768px) {
      width: 215px;
      height: 215px;
    }
  }

  &.reverse {
    .kz-thumbnail-image {
      padding-left: 0;
      padding-right: 72px;

      @media (max-width: 1024px) {
        padding-right: 36px;
      }
    }

    .kz-thumbnail-frame {
      right: 0;
      left: auto;
    }
  }

  &.remove-frame {
    .kz-thumbnail-frame {
      display: none;
    }

    .kz-thumbnail-image {
      padding: 0;
    }
  }

  &.remove-bg {
    background: none;
  }
}
