.kz-whatsapp-button {
  position: fixed;
  width: 60px;
  height: 60px;
  text-indent: -9999px;
  z-index: 20;
  right: 16px;
  border: 0;
  bottom: 16px;
  background: center center / contain no-repeat url("../images/whatsapp.png");
}
